[2019-01-22 16:16] barryvdh opened #2 "In-Reply-To / References"
So I was working on Inbound Email last week (what are the odds.. :P), mostly on the proper threading/matching of messages. I see that the `reply` here is pretty basic still, so would you be open to adding some more headers?

Basically the `In-Reply-To` header should use the `Message-ID` of the original message, and the `References` header should contain the IDs of all previous messages. This will

[2019-01-22 16:32] barryvdh opened #3 "Visible Text"
You're currently using the Mime messages from Sendgrid/Mailgun I see, but Postmark has a nice feature called `StrippedTextReply`
See https://postmarkapp.com/developer/user-guide/inbound/parse-an-email

The PHP equivalent is https://github.com/willdurand/EmailReplyParser

So would you be interested in adding a  'visibleText' method that uses this? It would basically just be:
[code]

[2019-01-22 18:52] mpociot commented on #3
Hmm but what if an email only contains HTML content? Would it parse this too?

[2019-01-22 19:00] barryvdh commented on #3
No I don't think so. But I wouldn't really know how you would process HTML only mails anyway. You can't really parse them, unless you convert them to text (which is difficult when you want to maintain the structure, as strip_tags probably won't make it very useful)

Don't most e-mail clients provide text version? Gmail, outlook etc?

[2019-01-22 19:03] barryvdh commented on #3
Although there is this: https://github.com/soundasleep/html2text
Which could be used to automatically turn the HTML to Text, for example if you want to add comments to an issue etc.

[2019-01-22 19:51] barryvdh opened #5 "[Docs] Incorrect vendor:publish provider"
Where can I edit the docs? This page doesn't seem to work: https://github.com/beyondcode/docs.beyondco.de/edit/master/resources/docs/laravel-mailbox/1.0/getting-started/installation.md

The `php artisan vendor:publish --provider="BeyondCode\LaravelMailbox\MailboxServiceProvider" --tag="migrations"` command is wrong. The provider should be just `Mailbox` instead of `LaravelMailbox` (both migrations

[2019-01-23 05:45] eXorus opened #10 "[Docs] How to create a driver ?"
@mpociot you did a very great job with Laravel Mailbox.
By building https://github.com/mailcare/mailcare and maintaining https://github.com/php-mime-mail-parser/php-mime-mail-parser, I already dreamt to create this connector for laravel, you did it with a very simple way, easy to use, .... so nice.

Do you have a doc to create a custom driver I would like to try to add the driver mailcare ?

With

[2019-01-23 06:33] #5 closed

[2019-01-23 07:04] barryvdh commented on #10
If you send the raw MIME, I think it's probaby just:
 - Create a Driver like https://github.com/beyondcode/laravel-mailbox/blob/master/src/Drivers/SendGrid.php which registers a controller in the prefix, with `mailparse`
- Create a Request that gets the full mime message (if available) from the Request: https://github.com/beyondcode/laravel-mailbox/blob/master/src/Http/Requests/SendGridRequest.php

[2019-01-23 08:33] barryvdh commented on #10
Although I'm not really sure why there is 1 driver, as the Driver only registers, it would be just as easy to allow multiple drivers, right? Eg. both Sendgrid and Mailgun combined.

[2019-01-23 08:40] mpociot commented on #10
@barryvdh I thought about that too but figured it might be nicer to not expose unnecessary driver API endpoints if it's not needed. And I do not know if you would actually use two different services to catch incoming emails.

Regarding creating your own driver, @barryvdh explained all you need to do.

To register the driver, you can do this in your AppServiceProvider `register` method:

[code]

[2019-01-23 10:56] eXorus commented on #10
Thanks a lot I gonna try.

[2019-01-23 10:56] eXorus commented on #10
It will be nice to add the steps in the docs

[2019-01-23 21:41] #2 closed

[2019-01-24 14:03] judgej commented on #10
Just as an aside, we are developing a service that needs to route emails from multiple sources after parsing the contents. We may have multiple IMAP boxes, web hooks, a script running behind a local mail server, etc. It does feel like it could get complicated quickly if this package handled multiple drivers, so perhaps this kind of thing is best suited to a single driver with a multi-source collec

[2019-01-25 16:25] leecop opened #14 "Get wrong Parameter"
Hello,

I have a problem with the parameter in my inbox handler. The handler is defined as `Mailbox::from('{application}@yourname.xyz', SupportMailbox::class);`

The `SupportMailbox` Class simple logs the application parameter:

[code]

Everytime I get `postmaster` as parameter no matter from which mail address the message was sent. Is there a problem with this package?

[2019-01-25 16:33] leecop commented on #14
It seems like the `From` is not right.

[code]

[2019-01-25 16:34] mpociot commented on #14
Okay. Well then you should try and check how you and the mails as the package is parsing the incoming email correctly.

[2019-01-25 16:34] #14 closed

[2019-01-27 15:29] davidrushton opened #17 "Queue getQueuableId issue"
Thanks for this package.

I was running into this exception

[code]

When running

[code]

I see this is because the email model is only saved at the end of any Mailbox routes, so there is no id to serialize for queued jobs.

I can fix this by updating the queued job to the following, but wanted to check if you'd accept a PR to match Mailbox routes first then call storeEmail before running any rou

[2019-01-28 08:41] #3 closed

[2019-02-06 22:02] hailwood opened #21 "Should we use ->each->delete() to clean emails?"
This is a follow on from #20 where I've added support for a custom model.
Currently when cleaning the emails there's no events getting fired as we just do the database query.

This is performant but given this command will normally be run on a cron performance likely isn't an issue and we should instead focus on usability. The trade off of the proposal below of course is that we end up firing 1+n

[2019-02-07 15:45] lstables opened #22 "Not really an issue more of a question"
Does the Mailbox package allow multiple emails?

Meaning within my application there could 1000s of users all with different emails they want to catch incoming and outgoing etc.

Company A - may have X amount of users using companyA.com as their emails
Company B - may have X amount of users using companyB.com as their emails

Does the package allow for this?

[2019-02-07 16:19] lstables commented on #22
@mpociot Can you shed some light on this for me, I did also tweet you yesterday.

[2019-02-07 16:23] mpociot commented on #22
I’m not sure if I understand the exact use case. But you can define multiple mailboxes that will catch different emails. As long as you setup mailgun/sendgrid/whatever to send the emails that you want to match against.

[2019-02-07 16:25] lstables commented on #22
Ok, thanks. I think that makes sense, basically my Laravel app will have multiple users that will belong to multiple companies. Thanks @mpociot

[2019-02-07 21:42] hailwood opened #25 "Doesn't seem to be parsing attachments correctly?"
With this listener setup

[code]

And the `InboundDocumentEmail::__invoke` looking like:
[code]

We're getting some strange behaviour when sending an email

[code]

![image](https://user-images.githubusercontent.com/709773/52444568-98799a00-2b8d-11e9-881b-fa210d94843f.png)

Or attaching a csv instead...
![image](https://user-images.githubusercontent.com/709773/52444694-f7d7aa00-2b8d-11e9-9c4d-0897

[2019-02-08 09:21] #22 closed

[2019-02-11 03:01] hailwood opened #28 "Possibility to use non-mime version for mailgun driver?"
When you use an endpoint other than one ending in /mime mailgun sends across a bunch of really useful content in the request - e.g. "trimmed-text" which is the message text without any signatures or similar.

Unfortunately mailgun don't send this information when using a `/mime` endpoint and instead sends across "mime-body" which we're using to construct the message.

I'm not sure it would be poss

[2019-02-19 11:50] vmitchell85 opened #29 "Incoming "to" not working"
I'm trying to get this setup using an incoming "to" as such:

[code]
The mailbox was never matching, so I created a catch all to test it out:

[code]

The catch all seems to be working but the email does not seem to be parsed correctly.

Contents of CatchAllMailbox.php
[code]

Log Result
[code]

The `to` list seems to be empty, however if i take the stored message from the database and decode the

[2019-02-19 11:53] vmitchell85 commented on #14
It may be best to delete this issue as it does have some email/domain information in the base64 encoding.

[2019-02-28 11:23] oliverbj opened #30 "Extending the package model to my own model"
Hi there

I can see that I can define a custom model to use in the config file:

[code]
Above is the default model it uses.
I have changed it to:

[code]

Now, I wish to use my own model, because I want to store the e-mails on another table. For this, I have created my own model:

App/Email.php:
[code]

However, above gives me below error:
[code]

I suspect it is because I don't have the original

[2019-02-28 13:46] #21 closed

[2019-02-28 13:46] #25 closed

[2019-03-02 09:25] #30 closed

[2019-03-02 09:46] oliverbj opened #31 "Extending the save method"
Hi

I have defined my own model called `Email`, that is extending the default `InboundEmail` model.

I can see in the `Routing/Router.php` file, the `save()` method is like this:

[code]

Now in my `Email` model, I:

- Have extended it to use a new table.
- Is setting a custom variable, in order to "combine" it to a relationship.

In my AppServiceProvider, I am passing the custom variable (`token`

[2019-03-02 14:12] oliverbj commented on #29
Having the same problem.

I have set up the AppSerivceProvider like this:

[code]

However nothing is stored, and the Email class is never fired. If I change it to:

[code]

It works just fine.

[2019-03-06 03:54] dluague opened #32 "Laravel 5.8 support"
Any plan to support Laravel 5.8?

[2019-03-12 03:47] vmitchell85 commented on #29
I've done a bunch of testing and it seems the issue has to do with the URL being used for the incoming emails that is referenced in #28.

It seems that Mailgun is sending a different style of information when an email comes in via email than it does even using their `Send A Sample POST` feature on their website.

I tried to modify the URL in `BeyondCode\Mailbox\Drivers\Mailgun.php` with no luck, I

[2019-03-12 12:05] vmitchell85 commented on #29
I've determined the redirect is due to the validator. The non-mime URLs/Mailgun POSTs doesn't include `body-mime`. Changing this to use `body-html` did not work.

It seems to me a new mailgun non-mime driver should probable be created in order to work properly. So this issue could probably be combined with #28.

[2019-03-12 12:54] oliverbj commented on #17
I am also interested in this. I ran into the same issue, and also had to add
[code]

before adding to my queue.

[2019-03-12 13:35] Stokoe0990 commented on #32
Bump

[2019-03-12 14:34] oliverbj commented on #17
@davidrushton how does adding the `$email->save()` line before the dispatching works? If I do this, it will be inserted into the database, but **not** by the queue/job, but just normally.

[2019-03-12 14:57] davidrushton commented on #17
@oliverbj The default behaviour of the package is to run all routes _before_ saving the email - https://github.com/beyondcode/laravel-mailbox/blob/master/src/Routing/Router.php#L97.

Because Laravel serializes all Eloquent models and then re-fetches from the database when running queue jobs, this causes an exception - the e-mail wasn't saved so there's no `id` to serialize/fetch.

[2019-03-13 12:25] oliverbj commented on #17
Ah OK, I see. It would make sense that we should be able to overwrite the save method - or at least call it ourself, based on conditions.

There might be situations where the incoming email is being redirected to the correct mailbox/class, but should not be saved if some other user specific conditions are met.

[2019-03-21 04:41] comdexxsolutionsllc commented on #32
Bump

[2019-03-28 03:05] ecgk commented on #10
Great job!. What about parsing emails directly from POP3 or IMAP? Is that possible?

[2019-04-17 16:23] radmen opened #34 "[Question] How to test Mailbox in application?"
I'd like to add some tests for handling incoming emails.

How can I do it? Should I mock `Mailbox` facade, or just send some dummy requests to one of the incoming endpoints?

[2019-04-17 17:43] radmen commented on #32
FYI: I've opened #35 which bumps dependencies to Laravel 5.8

[2019-04-19 15:54] vesper8 opened #36 "mailgun - which key am I supposed to use?"
I've set up mailgun and I notice that I can receive emails whether I have the public or private key setup

it works in both cases. Actually I suppose you can receive emails without even setting up the key. The key is only for replying?

Is it the public or private key we're supposed to use?

[2019-04-29 21:25] RosiersRobin commented on #32
Can't it get merged?

[2019-07-07 13:22] RosiersRobin opened #37 "[How-to] setup email inbox on user-based and global level in Laravel5.8 and sendgrid"
So, I want to be able to have 2 email inboxes, one for global use (a catch-all) and one for specific user use, like john@domain.com and doe@domain.com etc...

Now, I first of all stumbled over the fact on how I should implement this package... I currently have a Laravel 5.8 application, with the package installed (all default values). In my `routes/api.php`, I have the following lines added:

[cod

[2019-07-20 12:51] RosiersRobin opened #38 "Spam filtering"
Hi,

Is there any kind of inbound spam filtering? Since now when you do a catchall, the inbox is full of junk....

[2019-07-22 13:38] julienbourdeau commented on #38
Have you checked if it was available by your email provider? What do you use?
This is probably out of scope for this package.

[2019-07-22 14:31] RosiersRobin commented on #38
I'm using sendgrid as inbound parser, I have these both options enabled:

![screen](https://i.imgur.com/dDuKIs2.png), yet still I get alot of spam like showen here:

![spam](https://i.imgur.com/Gz14ksY.png)
![spam](https://i.imgur.com/NbR8gnn.png)

[2019-07-28 09:11] RosiersRobin commented on #38
So my suggestion would be to add a spam score to the inbound eamail. Since that is added in the request payload .

[2019-07-28 09:30] #37 closed

[2019-07-28 10:42] RosiersRobin commented on #38
Made PR #39

[2019-07-29 19:47] RosiersRobin commented on #34
You can use the log env to send emails to any address.

So the
`MAIL_DRIVER=log`
`MAILBOX_DRIVER=log`

variables are set like here.

Now when you make a route with the action like here:

[code]

Then the email will be catched, when configured correctly.

[2019-07-29 19:49] RosiersRobin commented on #32
Merged #35

_Can be closed_

[2019-07-29 20:24] radmen commented on #34
@RosiersRobin thank you. Correct me if I'm wrong, yet it seems that this method is not usable in unit tests. This will print to log some data, yet it can't be used for assertions or mocking.

[2019-07-30 16:10] RosiersRobin commented on #34
As far as I can see, the [nboundEmailTest.php](https://github.com/beyondcode/laravel-mailbox/blob/master/tests/InboundEmailTest.php) file does have tis implemented?

[2019-07-30 16:50] radmen commented on #34
@RosiersRobin yup, that's it. Thanks!

[2019-07-30 16:50] #34 closed

[2019-08-11 11:59] #32 closed

[2019-08-14 06:15] senguttuvang opened #40 "suggesting to add driver for Gmail/G-suite to receive emails"
Gmail and G-suite is the most used email service so it would be great if we have a driver that supports it out of the box.

[2019-09-04 07:00] mpociot commented on #38
I don't think a specific feature like this should be handled by this package. Like discussed in #39 we could pass the incoming raw request payload to the inbound email and then you can do whatever you want with it. Would you be up to create a PR for this?

[2019-09-04 07:00] #38 closed

[2019-09-04 10:34] dominik-stypula-polcode opened #44 "Mailgun webhook doesn't work"
If I try to test webhook via mailgun, it's getting an exception:
I'm trying this via **ngrok** proxy, and this is what i'm getting as a response.
[code]
And this is what i get when i dump mailgun response from **MailgunRequest** class (my private data like tokens and domain keys were changed to "XXX").
In `validator()` method i do `var_dump($this->all());exit;`
[code]

[2019-09-04 13:33] dominik-stypula-polcode commented on #44
Closing issue, seems i didn't have proper configuration on my mailgun account. Not it's working.

[2019-09-04 13:33] #44 closed

[2019-09-27 14:02] vesper8 commented on #28
Is this related to the error I'm getting a lot of `Invalid Mailgun signature or timestamp., Url:https://api.redacted.com/laravel-mailbox/mailgun/mime` ?

[2019-09-27 14:24] vesper8 commented on #44
@dominik-stypula-polcode Would you mind explaining which key is the one you're supposed to use? Mailgun has 3 keys in its API security panel

Private API key
Public validation key
HTTP webhook signing key

Which one does this package require??

And can you share what was wrong with your configuration? I have a feeling I may have the same problem. I am getting this error: `Invalid Mailgun signature

[2019-09-27 14:57] vesper8 commented on #44
@dominik-stypula-polcode Which webhook did you use? I was using 'forwarding' too from the 'mailgun routes'

I'm looking at webhooks and it's not clear which one might be used to forward the email to the laravel application

[2019-09-27 15:03] vesper8 opened #45 "how to get it to work with Mailgun? It doesn't work (anymore)"
I swear I tested this about 9 months ago and I was able to receive an email through laravel-mailbox. Today I tried it again and this time I am getting `Invalid Mailgun signature or timestamp., Url:https://api.redacted.com/laravel-mailbox/mailgun/mime` errors

I'm using the `HTTP webhook signing key` which has to be the right one

I've gone inside the Mailgun Routes and set the `forwarding` to forw

[2019-09-30 06:52] dmyers commented on #28
@vesper8 Yes I believe so. Mailgun seems to have gotten rid of the `body-mime` option as part of the incoming email webhook as far as I can tell looking around, but it is available for stored messages, but this would require an additional step for routing and queue processing: https://documentation.mailgun.com/en/latest/api-sending.html#retrieving-stored-messages.

[2019-09-30 07:14] dmyers commented on #28
@vesper8 Actually now I think Mailgun may have either changed the feature or this project didn't document it well.

It took me a while, but I found out some info from this page: https://documentation.mailgun.com/en/latest/user_manual.html#routes

Note To receive raw MIME messages and perform your own parsing you must configure a route with a URL ending with “mime”, like http://myhost/post_mime.

I

[2019-09-30 08:34] vesper8 commented on #28
thanks for the reply and the links @dmyers

Can I ask what specifically are you doing to be able to receive mailgun messages into your laravel-mailbox? Did you set up webhooks or are you doing your own parsing?

I am using the suggested route which does end in /mime, so is it just then a matter of implementing my own parsing? How are you doing that? Would you mind sharing a snippet of code to help

[2019-10-10 15:36] abishekrsrikaanth opened #46 "Support for Inbound emails by Amazon SES"

[2019-10-11 07:31] Thyrosis opened #47 "IMAP or POP driver?"
Hi!

Didn't see this in the documentation nor in the issues.

Is it just me, or is there no way to open up an IMAP or POP connection to a regular mailbox?

Anyone know of a driver to do that?

Thanks,
Maarten

[2019-10-19 15:54] Jhnbrn90 commented on #45
Hey @vesper8

Did you manage to get it to work?

In a recent project I also couldn't get it to work at first, but after directing both Mailguns "store and notify" and "forward" options to the `https://api.redacted.com/laravel-mailbox/mailgun/mime` endpoint did work for me. Previously I only used the "store and notify" option in mailgun without forwarding.

[2019-10-22 12:30] vesper8 commented on #28
@happyDemon it seems like the only thing you're doing different from me is that you renamed the default route from `laravel-mailbox/mailgun/mime` to `laravel-mailbox/mailgun/post_mime`

You think this made the difference? How did you rename the route by the way? I can't find anywhere in the documentation on where this default route is actually set and how to change it?

[2019-10-22 12:39] vesper8 commented on #28
actually.. I guess something must have changed because this was previously failing with an error and I just tried it again now, didn't have to rename the route or change anything at all and now it's working

[2019-10-22 13:21] vesper8 commented on #31
Not sure if you got it work.. but I am doing something similar and it seems to me like you're going about it the wrong way in your example above.

First of all, you're supposed to use a Mailbox class with the `Mailbox::to()` declaration in your service provider. And then the Mailbox class receives an instance of your Email model which at that point has already been saved and persisted in the defau

[2019-11-04 21:11] connecteev commented on #46
+1! Amazon SES is quite widely used...I'd love to be able to use this package with it.

[2019-11-16 22:53] JapSeyz opened #48 "Accessing the ID of an inbound email"
Hi,

I'd like to store some incoming mails after parsing them, but I'd like to have a reference to them in the data I create from the parsed mail. IE the model ID the InboundEmail model that I get in my Mailbox (not the mail ID).

The InboundEmail is not yet persisted once it reaches my mailbox, is there any issues with calling $inboundEmail->save(); within the mailbox?
This would allow me to get

[2019-11-19 08:44] dcsilver opened #49 "Service Provider Not Registered?"
I initially thought this was a composer issue specific to my project and tried everything the internet suggested to reinstall dependencies and clear caches, but I'm still getting a "Class 'App\Providers\Mailbox' not found" error when I attempt to call Mailbox from AppServiceProvider on a brand new Laravel 5.8 project.

It goes away if I let PHPStorm add:
use BeyondCode\Mailbox\Facades\Mailbox;
use

[2019-11-19 09:00] #49 closed

[2019-11-22 08:09] ditsbroefs commented on #47
Hi,

Also looking for this. Perhaps any tips on how to extend DriverInterface?

Thanks,
Bert

[2019-11-23 15:06] barryvdh commented on #46
I think SES includes the MIME message (see https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-notifications-contents.html , so you should be able to use that with `InboundEmail::fromMessage($mimeContent);`

[2019-11-23 15:21] barryvdh opened #50 "Alternative 'To' headers?"
For some automated emails (leads) a single mail is in `leads@example.com`, but my trigger is for example `company-xxx@mydomain.com`. Would it be possible to parse `X-Forwarded-To` before it was routed to a mailbox? (Eg. an event/filter/callback to modify it manually).

Or should I just create a fallback/catch-all that routes it when To fails?

[2019-11-23 18:10] barryvdh commented on #50
For now I've solved it (I think) by using my own InboundEmail model and override to `to` method:

[code]

[2019-11-23 18:10] #50 closed

[2019-12-13 03:35] lorflea opened #52 "From not triggered"
Hi,
I'm using Laravel Mailbox with Mailgun but the functions are not triggered when I send the emails.
If I use the tool "Send a sample POST" from Mailgun, using the url http://mywebsite.com/laravel-mailbox/mailgun/mime the response is "MethodNotAllowedHttpException"

Can you help me please?

Thank you

[2020-02-08 19:52] tnorthcutt commented on #52
@lorflea Did you follow the documentation on adding a Mailbox to e.g. the `boot()` method of your `AppServiceProvider`?

https://docs.beyondco.de/laravel-mailbox/1.0/basic-usage/mailboxes.html

[2020-02-14 15:59] SkDeWw commented on #47
Hi,

Thanks for developing this package!
Sad that there is still no answer. Just found this package and would like to use it with my own mailserver.

[2020-02-21 21:01] intellow opened #54 "Forwarded Email is Converted from HTML to Plain Text"
I'm using Mailgun and when I get an HTML email and try to forward it, the forwarded message is in plain text. Is there a way for me to maintain the forwarded message as HTML?

[2020-03-01 12:20] Xoshbin opened #55 "Inbound emails not working neither whith Mailgun or SendGrid"
I have tested with both Mailgun and SendGrid none of them is receiving emails, With Mailgun when I test the "Send a sample POST" from the dashboard I receive the sample email and stored in the database. But when I use the sam url t with Mailgun routes and I send an email from my Gmail to my domain name email address nothing happens. I have tried both "catchAll" and "from" but got no luck yet. I'm

[2020-03-02 06:07] Xoshbin commented on #55
Solved:
So After many hours of working and research I found out that Mailgun not receiving emails with subdomains. So when you first register your domain name with Mailgun it's recommending you to add it as a subdomain "mail.example.com" without mentioning you may not be able to receive emails. So I removed my subdomain from Mailgun and added my domain name as "example.com" it started working. But

[2020-03-02 06:07] #55 closed

[2020-03-03 17:46] intellow commented on #54
I was able to manually set any outgoing email to use HTML with the following:

[code]

[2020-03-05 10:25] ziming commented on #46
Confused. So no need for a ses driver?

[2020-03-05 16:02] intellow commented on #45
This is how it works for me. Although I don't use "store and notify", I just forward it.

[2020-03-05 18:52] vesper8 commented on #45
now that Mailgun has ended its free tier and is now charging 30$ / months to use its routes and webhooks.. I would like to know of another free provider that works with laravel-mailbox if anyone knows of any please mention it in a comment

[2020-03-05 21:27] vesper8 opened #56 "Laravel 7 compatibility"
`1.3.0` is not compatible with Laravel 7 due to `illuminate/log ^5.7|^5.8|^6.0`

@mpociot Could you please release a new version with Laravel 7 compatibility?

Thanks a lot!

Edit: @mpociot sorry I accidentally tagged you on a few unrelated copy/pastes.. I edited them but apologies for pinging you on those

[2020-03-08 10:16] Xoshbin commented on #31
Hi guys, I'm working on a project which it's based on this library. it's open source and that's the [link](https://github.com/Xoshbin/inbox). My next plan is to save the sent emails. I did follow both of your codes but it seems it's for incoming emails to save. So I was asking if your question was about saving sent emails or no. If it's about saving sent emails how did you manage that please?
Than

[2020-03-08 12:13] vesper8 commented on #31
Do you mean like when you send an email using Gmail it goes into your 'Sent' folder?

If that's what you mean then I don't think this project is meant to handle that. This project is for handling incoming mail only. If you went to be able to intercept and log outgoing email then you would do that in your client

[2020-03-08 14:48] Xoshbin commented on #31
Right, That's what I mean. anyway thanks I think I have to find another way to save the emails.

[2020-03-24 14:03] chrisfritsche commented on #47
Hi Guys,

have you find any solution to use IMAP mailbox?

Thanks in advance

[2020-03-26 15:45] chrisfritsche commented on #30
HI @oliverbj ! I try the same. I reply the model to my own model. But by retrieving the model by Nova, i receive the same error as you. Have you find any solution?
Thanks for sharing.

[2020-03-27 23:22] bobmulder opened #59 "IMAP Driver"
Hi there!

This package looks really cool and promising :)

I'd like to use this tool for my clients in my SAAS. However, most of them will not be able to manage their DNS settings to set up a service like Sengrid. For them it would be easier (and more secure in my opinion) to enter an IMAP configuration.

Can you give me any direction? This is not possible at the moment right? And, I probably wou

[2020-04-08 08:14] umutpamuk opened #61 "Create an inbox"
I want to draw my inbox with Pop3 to the table on my website. I have read the documentation, but I could not understand how to run it.
Do you have any sample? or is there anyone who can help?

[2020-04-08 10:08] MatthewK177 commented on #2
Where there any updates on this issue? I'm trying to figure out the best way to do threading but I'm unable to easily get the `In-Reply-To` ID.

[2020-04-09 06:22] umutpamuk commented on #61
I don't want to use drivers like Mailgun sendgrid, I want to use my own Mail Server bookmark. I have it all port number, host, username, pass. But I do not know how to adjust the .env file.

[2020-04-13 15:43] rasmuscnielsen opened #62 ""Incorrect string value" when saving non-UTF-8 emails to MySQL database"
Hey there

This issue is mainly as a reference to people coming across the same hair-pulling issue as I did.

When receiving an email in ISO-8859-1 encoding with special characters (such as the danish "æøå") I found that a QueryException will be thrown such as

[code]

This is due to attempting to insert ISO-8859-1 characters into a utf8mb4 MySQL column.

It would be cool if the package had a way

[2020-04-15 06:23] #28 closed

[2020-04-21 07:13] bobmulder opened #64 "Advice for SAAS"
Hi there!

This package is awesome, and I can't wait to implement it :)

Currently I am building a SAAS and I want to offer my users a feature to set up an e-mail address to catch incoming e-mails.

What is your advice to do this proper? Implementing this into a SAAS requires to set up the configuration of Mailboxes dynamically. It would be a lack if I'd register all mailboxes on each request (whi

[2020-04-23 12:13] latwelve opened #65 "Advice for extending"
Hey - I started, extending this package into nova as a model and resource called Enquiry.. I needed some extra custom fields like "reference" "status" etc.. so I added these in the migration and started setting up the details and index views..

I've just come across an issue though when trying to save an Enquiry without any mail content:
Undefined property: App\Enquiry::$message
.../vendor/beyondc

[2020-04-24 01:30] lyricsKING opened #66 "Running into error while installing mailbox in laravel 6"
I'm running into error trying to install laravel-mailbox in my laravel 6 project using composer.
Below are the generated errors
` InvalidArgumentException  : Unable to resolve NULL driver for [BeyondCode\Mailbox\MailboxManager].

  at C:\wamp64\www\feedpal\vendor\laravel\framework\src\Illuminate\Support\Manager.php:81
    77|     {
    78|         $driver = $driver ?: $this->getDefaultDriver();

[2020-04-24 14:38] tony5Dim opened #67 "Installing Mailbox on Lumen 6"
I can't install Mailbox on my Lumen 6 project.

Lumen doesn't automaticaly register the provider, then, I did a `$app->register(BeyondCode\Mailbox\MailboxServiceProvider::class);` in bootstrap/app.php.

But then I get the error

So I've tried a solution found on the Internet https://gist.github.com/mabasic/21d13eab12462e596120
But then I get the error

I've also installed https://github.com/larave

[2020-04-25 09:08] lyricsKING commented on #66
i have managed to resolved this issue by removing the package and the manually copy the mailbox config file into my project's config folder
i then run
`php artisan config:cache`
and the
`composer dump-autoload`
then install the package using composer and it worked.

**This line `C:\wamp64\www\feedpal\vendor\beyondcode\laravel-mailbox\src\MailboxManager.php:16` made a call to fetch the default driv

[2020-05-05 17:47] cihanarik commented on #28
Hi guys,
route defined in `vendor/beyondcode/laravel-mailbox/src/Drivers/Mailgun.php`
renaming default route from `laravel-mailbox/mailgun/mime` to `laravel-mailbox/mailgun/post_mime`

[2020-05-07 07:05] tony5Dim commented on #67
Nobody ?

[2020-05-16 15:01] pecuchet opened #68 "Release pkg with Laravel 7 mail driver fix"
Hello @mpociot, can you publish a new release to packagist containing the `mail.driver` fix for Laravel 7 (see 34623418c1bd582d71d0ac04dc1e0f43f5128d80)? I took me some time to realise why the logging was not working, although release 1.4.0 mentions L7 support. ;)
Thanks!

[2020-05-19 18:25] Remo commented on #59
I got the same question, but I'm hesitant about using a webhook to initiate an IMAP connection.

I feel like it would be cleaner to have a `ConsoleDriverInterface`. A dedicated interface would be nice as we could then implement several console interfaces. Some ideas:

* IMAP using a polling strategy
* Postfix trigger (https://thecodingmachine.io/triggering-a-php-script-when-your-postfix-server-rec

[2020-05-29 22:06] #68 closed

[2020-05-29 22:06] #66 closed

[2020-05-29 22:06] #56 closed

[2020-06-01 08:03] philippejadin commented on #47
It would be nice to provide a driver with an artisan command that would be run to provide pull feature from an imap server. At least a standardized way to do it with the package.

[2020-06-03 12:25] #31 closed

[2020-08-13 17:27] 1jason1 commented on #10
@mpociot In your Mailbox::extend example, whats gets added to register a new driver. Do you mind extending your example a bit more please.

Thanks!

[2020-09-14 11:40] bobmulder commented on #59
@Remo I left this idea for a while but I'm thinking about the best approach for an IMAP integration. Did you get further on this?

Your idea about the `ConsoleDriverInterface` sounds better than my idea bout the webhook ;P

[2020-09-16 14:16] Remo commented on #59
No, I'm afraid, I didn't do anything here. I was hoping for a feedback from one of the maintainers as I don't want to create a pull request for which there's no interest. We've implemented a work around for the time being, but I'd still be interested in using a higher quality and better maintained solution. Switch to laravel-mailbox is very low priority at this point though.

[2020-10-07 14:51] clementmas opened #72 "Testing driver"
Hi there, thanks for the great package!

Is there a dedicated driver for testing?

```Supported drivers: "log", "mailgun", "sendgrid", "postmark"```

I'm currently using `log` but it logs all the emails every time I run my tests. It's not necessarily a bug but it's not ideal.

Is there some kind of in-memory `array` driver available or something similar?

Thanks!

[2020-10-21 04:48] peterjaap commented on #10
@barryvdh @mpociot I've tried adding a custom driver for Zapier (to hook up IMAP/POP), but it won't match a route.

The `$matchedRoutes` array inside `callMailboxes` is empty. Maybe Barry's explanation is missing a step where we set up how to match a route?

I've created this so far;

`app/Http/Controllers/Mailbox/ZapierController.php`

[code]

`app/Mailbox/Drivers/Zapier.php`

[code]

`app/Provid

[2020-10-22 07:43] mpociot commented on #67
Laravel Mailbox does not currently support Lumen. If you can add it yourself, I would appreciate a PR.

[2020-10-22 07:43] #67 closed

[2020-10-22 07:43] mpociot commented on #72
There's currently no `array` driver for testing available, but that would indeed be a cool idea. I'd accept a PR with it :)

[2020-10-22 07:43] #72 closed

[2020-10-26 11:50] Noogic commented on #29
I have the same issue using Postmark. It looks like the library is not parsing correctly the message headers.

I've come with a solution (which probably needs some testing with emails sent from different providers)

[code]

So you can get the *to* header using: `$this->getTo(json_encode($email->message()->getRawHeaders()))`

Anyway, I'll keep digging it to see if I get to the source of the problem

[2020-10-27 09:12] Noogic commented on #29
`$email->message()->getHeader('To')->getValue()`

This also seems to work

[2020-11-18 20:05] peterjaap commented on #66
I am also getting this issue on deployment. Can't clear the cache, can't do anything. I have no idea how to fix.

[2020-11-24 11:38] Alyka commented on #66
I have the same issue

[2020-11-27 15:25] Norgul opened #73 "Unable to resolve NULL driver"
Hello,

I can require the package just fine, however when `dump-autoload` happens I am getting this error:

[code]

I am using `"laravel/framework": "^8.0"`.

I tried deleting lock files, vendor, clearing cache (wasn't cached initially), nothing happened.

Thanks

[2020-11-30 09:06] Norgul commented on #73
My bad, it looks as if my environment was cached. `php artisan optimize:clear`, removed vendor and lock, reinstalled, works.

[2020-11-30 09:06] #73 closed

[2020-12-03 10:54] Norgul commented on #65
I'd say the `InboundEmail` class has wrong implementation in `message()` method because there is no `message` property. That's why you get an error. In your extended class, try to override the method and try again:

[code]

[2020-12-03 11:00] Norgul commented on #64
Without an exact implementation and examples I doubt anyone will be able to answer your question. There could be a ton of different solutions depending on your exact needs.

The package has its own configuration and setup, so what I'd advise you to do is to prevent saving mails by tweaking package configuration, and setting up mail receive function to parse by which ever criterium you'd like and s

[2020-12-03 11:05] Norgul commented on #10
@peterjaap where are you matching a route exactly? You need to provide one of `Mailbox::to/from/cc/bcc/fallback/catchAll` methods.

Continuing on that, I've submitted a PR where extending drivers is done through config, not with overriding classes. It might help.

[2020-12-03 13:03] peterjaap commented on #10
@Norgul I'm not, I just followed @barryvdh his example, and he doesn't mention a route. Not sure how to proceed now.

[2020-12-03 13:23] Norgul commented on #10
@peterjaap do a `Mailbox::catchAll(function() { Log::info("Caught an email.") })` in `boot()` of your `AppServiceProvider`.

[2020-12-03 14:03] barryvdh commented on #10
So is your hook reaching the controller?  (Eg. debug in the __invoke in your controller). In that case, the email probably doesn't match. Like Norgul says, add a catchAll. Maybe the from/to emailaddress are not what you expected?

[2020-12-08 08:39] pecuchet commented on #48
Hello,

Your question is a little old, but since it has no answer and I'm facing a similar situation - I need the Email's `id` in my mailbox route handler. There is no issue in calling `$inboundEmail->save();` there, apart from the fact that it duplicates the call in `Routing/Router::storeEmail()` (which is called after the route handler - [there](https://github.com/beyondcode/laravel-mailbox/blob

[2020-12-11 15:13] vesper8 opened #76 "which of the supported drivers allows this to work for free in 2020?"
Mailgun no longer allows the type of email rules necessary for this to work in their free tier.

Does anyone have experience setting this up recently with a free email solution?

[2020-12-11 16:18] vesper8 commented on #59
What are you using right now @Remo ? I'm confused as to whether it's currently possible to use this package with IMAP/POP and periodically check for new mail.

[2020-12-11 16:48] Remo commented on #59
I'm not using this package for now. We've built a custom solution based on this https://github.com/mlocati/IMAP

[2020-12-11 16:51] vesper8 commented on #59
Thank you for your reply and for sharing your solution

I've just now started looking into https://github.com/Webklex/laravel-imap

I'm curious, considering it has a lot more stars and active development, is there any reason why you opted not to use https://github.com/Webklex/laravel-imap and chose to use https://github.com/mlocati/IMAP instead?

[2020-12-11 16:58] Remo commented on #59
I know the guy who wrote it, that's pretty much my main reason 😬

[2020-12-11 20:59] vesper8 commented on #59
I feel like it wouldn't be very hard at all to have either of those packages hitting a `laravel-mailbox` endpoint. Either with a custom driver or just mimicking one of the existing ones

[2020-12-11 23:56] vesper8 commented on #59
So I decided to take a crack at combining `laravel-mailbox` with `laravel-imap` and the whole thing was rather simple to put together. Here's a very short example.

First install https://github.com/beyondcode/laravel-mailbox and https://github.com/Webklex/laravel-imap and publish migrations/config

You can then define your `laravel-mailbox` mailboxes (to/from/catchall/etc) inside your AppServicePr

[2020-12-15 14:22] DavidWhicker opened #77 "Package beyondcode/laravel-mailbox has a PHP requirement incompatible with your PHP version"
Trying to install and getting the following:

  [InvalidArgumentException]
  Package beyondcode/laravel-mailbox has a PHP requirement incompatible with your PHP version, PHP extensions and Composer version

I am on php8 and latest composer

[2020-12-16 16:56] clementmas commented on #77
PHP 8 is not supported yet by laravel-mailbox.

https://github.com/beyondcode/laravel-mailbox/blob/acc1ce80b7d0e6b3419fe725ae99830c5931fdf7/composer.json#L19

I tried to send a PR to add `"7.3|^8.0` but it won't work until the dependency [zendframework/zend-mail](https://github.com/zendframework/zend-mail) also supports PHP 8 (see related opened PR: https://github.com/laminas/laminas-mail/pull/117

[2020-12-18 07:30] dmyers opened #78 "PHP 8 Support"
What do you think, @beyondcode?

This seems to be preventing composer from updating for PHP 8 due to `composer.json` PHP version constraint.

[2020-12-27 18:51] mabadir commented on #46
Hi All,
I just submitted a [PR](https://github.com/beyondcode/laravel-mailbox/pull/79) to introduce SES support.

[2021-01-24 03:15] dniccum opened #81 "SendGrid webhooks not resolving"
Hi, I am currently migrating an application from using Mailgun to SendGrid. To be clear everything was working as desired using Mailgun, but as soon as I switched, nothing has worked since. The emails are clearly going somewhere because they are not being rejected. However the webhooks are not firing.

Any help would be appreciated.

I have followed everything in the documentation to a "T":

### M

[2021-01-26 13:31] dniccum commented on #81
This issue was related to both my routes and configuration variables being cached. This has been resolved.

[2021-01-26 13:31] #81 closed

[2021-02-22 09:48] wdebusschere commented on #77
What is that status of this? Laminas has now 8.0 support.

[2021-03-09 21:35] clementmas commented on #77
We're now waiting for PR #80 to be merged

[2021-03-12 06:51] ayophanz opened #82 "Support in lumen"
I got error 500 in lumen

[2021-03-12 11:24] ayophanz commented on #67
try this `$this->app->alias('laravel-mailbox', MailboxBasicAuthentication::class);` update the serviceProvider in package

[2021-03-12 17:03] #65 closed

[2021-03-12 17:08] latwelve opened #83 "Access to Postmark StrippedTextReply"
Is there a way I can extend mailbox to save the StrippedTextReply from postmarks json.
Or am I best calling postmarks api with a matched Message-ID header to then access this?

If I have to do it with the latter is there an easy way to save postmarks MessageID (different from their header Message-ID) in the inbound mail table separately? as the message id passed at the moment is the one that has c

[2021-03-14 21:35] basslhm opened #84 "PHP 8 support (PR ready!! please accept)"
Please just accept the following PR so that we can use this package with PHP 8

https://github.com/beyondcode/laravel-mailbox/pull/80

[2021-03-14 21:45] colinmackinlay commented on #84
@sschlein @mpociot There are quite a few people asking for this #80. Even a response to say you've seen it and are reviewing would be appreciated :)

[2021-03-15 23:10] colinmackinlay commented on #84
Thank you @mpociot :)

[2021-03-18 00:22] SomePlayer commented on #45
Sendgrid could be an option

[2021-03-18 10:41] vesper8 commented on #45
I ended up using my MxRoute account. Don't know why I didn't do that before since I've been paying for it for years. It's great, so easy to set up too. Only for receiving not for sending, but that's perfect for laravel-mailbox

[2021-03-22 08:30] ayophanz commented on #82
nvm I make it this works I just copy the package to my helper folder and modify the code to make it work in lumen

[2021-03-30 15:38] kenschnetz opened #85 "Endpoint returning 404 to Mailgun?"
Followed the setup tutorial here: https://johnbraun.blog/posts/incoming-mail-laravel-mailbox

Test runs without issue. Deployed to Forge and now the endpoint returns 404 error to Mailgun using the following route: https://****our domain****/laravel-mailbox/mailgun/mime

Is there a step I am missing to publish the route/endpoint?

[2021-04-08 11:09] sheinfeld opened #86 "Unable to resolve NULL driver for [BeyondCode\Mailbox\MailboxManager]"
Hey guys,

I'm trying to install the package but once the installation finishes, I get the following error:

![image](https://user-images.githubusercontent.com/34421632/114016920-4b73da00-9863-11eb-9da2-936cce6bf861.png)

Do you have any idea of how to fix it?

Thanks in advance!

[2021-04-23 11:31] goper-leo commented on #46
@ziming did you manage to solve this one?

[2021-04-29 01:21] atymic opened #87 "Mandrill Driver"
Happy to PR this.

Thanks!

[2021-04-29 01:22] atymic commented on #84
This can be closed cc @mpociot

[2021-05-27 11:40] bencallens opened #88 "Get mail from mailgun encoded"
Hey,

I work with mailgun and I only receive encrypted mails from mailgun. I used the MIME url so that I would get a raw mail as described in the documentation. How can I decode this mail so that I can store the correct values.

thanks in advance

[2021-07-01 12:05] Labidev commented on #62
I have the same problem.
Your solution is great.
I just had to redo it a bit.
You need to override the InboundEmail model as **App\Models\InboundEmail**
[code]
 and set it in the _config\mailbox.php_ file
[code]

[2021-07-19 01:08] wa05 commented on #85
Hi @kenschnetz , did you solve this problem?

[2021-08-04 14:46] ahmetkorkmaz3 commented on #86
I have the same problem.

[2021-08-05 11:17] ahmetkorkmaz3 commented on #86
I have solved this problem. You should clear the caches on bootstrap/cache directory.
You can run this command `rm bootstrap/cache/*.php`

[2021-08-13 18:29] Soban3 commented on #88
Did you find any solutions?

[2021-10-01 09:28] bpeperkamp opened #91 "hash_equals() error since last night"
hash_equals(): Expected known_string to be a string, null given. Apparently in this piece of code:

`$signed = hash_equals($this->signature, $signature);`

$this->signature appears to be empty

In MailgunRequest.php

Does anybody have a solution?

[2021-10-01 11:37] bpeperkamp commented on #91
It appears mailgun is sending empty requests to the webhook

[2021-10-05 14:41] #91 closed

[2021-11-01 12:32] wgriffioen opened #93 "Timestamp verification for Mailgun fails with large volumes for"
We use laravel-mailbox receive lots of emails each day. Since a few weeks, we see more and more messages failing with a temporary error in Mailgun and eventually some mail will fail definitely.

I've done some investigation and the problem is caused by the timestamp verification in the MailgunRequest. I've manually changed the time to ten minutes and all the messages are now arriving successfully.

[2022-01-07 09:28] jigarhalani opened #94 "how to get forwarded to address from email header"
Hello, I am getting an email from Gmail auto-forward to my address.

when I print $email->from() its shows Gmail email where my email is coming but I want to get the address which I forwarded in to or from.

[2022-01-24 18:43] goodevilgenius commented on #82
I think the main issue in Lumen is likely that some of the request types extend `FormRequest`, which is only in Laravel.

However, the dependencies don't actually state that Laravel is a dependency.

I think those requests don't actually need to inherit `FormRequest`. They should be able to just inherit `Request` without any other modification.

[2022-02-07 15:08] skakrecha opened #98 "How can we store attachments using Spatie Medialibrary?"
Hi ,
i am using the package to store incoming mails in db, but want to use spatie medialibrary to store the attachments.

Thanks.

[2022-02-24 09:15] jhayg12 opened #100 "Class 'BeyondCode\Mailbox\Facades\Mailbox' not found"
I was trying to implement the laravel-mailbox on our project but got this error saying:

`Class 'BeyondCode\Mailbox\Facades\Mailbox' not found`

I've used something like this on the `web.php` file:

[code]

[code]

[2022-02-24 09:24] colinmackinlay commented on #100
Suggestions
1. Try `composer dumpautoload` to resolve the class not found
2. Try processing a different way to see if this works

In `AppServiceProvider.php`:
[code]

[2022-02-24 09:36] jhayg12 commented on #100
Hi @colinmackinlay thanks for the reply and I've tried both of your suggestions but still getting the error:

`Class 'BeyondCode\Mailbox\Facades\Mailbox' not found`

[2022-02-24 10:42] colinmackinlay commented on #100
That's all I do and it works fine for forwarding mail.

It does seem though as if the package is not registering.

What happens if you run `php artisan package:discover --ansi`?

You should see `Discovered Package: beyondcode/laravel-mailbox` in the output

[2022-02-25 08:10] lukeptchr opened #101 "laravel 9 and php 8.1 support"
Could you please add laravel 9 and php 8.1 support?

[2022-02-25 08:13] colinmackinlay commented on #101
see #99. You can require dev:master and it should work. But see comment from @sschlein  that it is not yet fully tested so won't be tagged in a release until it is.

[2022-02-25 08:15] #101 closed

[2022-02-28 03:06] #100 closed

[2022-02-28 03:10] jhayg12 opened #102 "BeyondCode\Mailbox\InboundEmail::id must return a relationship instance."
Hello there I'm getting this error

`BeyondCode\Mailbox\InboundEmail::id must return a relationship instance.`

In `AppServiceProvider.php` boot method.
[code]

[2022-02-28 03:16] jhayg12 commented on #17
@davidrushton @oliverbj I also have the same issue how did you manage to solve this? Thanks

https://github.com/beyondcode/laravel-mailbox/issues/102

[2022-02-28 03:23] #102 closed

[2022-02-28 09:25] davidrushton commented on #17
@jhayg12

From memory, I think I just solved this in the project by adding in the `$email->save()` line:

[code]

Hope that helps!

[2022-02-28 22:59] jhayg12 commented on #2
Are there any updates on this? Currently having the same requirement for threading. Thanks

[2022-03-12 20:30] Yiddishe-Kop commented on #98
Here is a simple approach:

[code]

[2022-03-16 20:52] samtlewis commented on #93
Adding my 2 cents - I would be in favor of removing the isFresh check on the MailgunRequest. Seems like it introduces a failure point that is already covered by the signature provided by Mailgun.

[2022-04-06 02:28] yungkeatchan97 commented on #73
I found another solution without removing the vendor folder:

1. Remove the cached file in `bootstrap/cache/config.php`
2. Copy `vendor/beyondcode/laravel-mailbox/config/mailbox.php` to `config/mailbox.php`
3. (Optional) Run `php artisan config:cache` to cache the configs back

[2022-04-26 17:27] MrWeb opened #104 "Subfolder"
Hi I'm using Laravel and Postmark, I'm trying to set the Postmark WebHook but my app is in a subfolder and I keep getting 404s. This is what I tried:

https://example.net/subfolder:fd2ddc7d-2296-4a33-b4c5-b294ecff351f@example.net/subfolder/laravel-mailbox/postmark
https://example.net:fd2ddc7d-2296-4a33-b4c5-b294ecff351f@example.net/subfolder/laravel-mailbox/postmark
https://example.net/subfolder:f

[2022-04-28 08:57] #104 closed

[2022-04-28 08:58] MrWeb commented on #104
Never mind. I used another package. Tks anyways

[2022-05-18 14:05] joelharkes opened #105 "Laravel 9 missing on packagist (failed deploy?)"
Hi

it looks like it failed to deploy the proper dependencies for Laravel 9: https://packagist.org/packages/beyondcode/laravel-mailbox

<img width="1261" alt="image" src="https://user-images.githubusercontent.com/2960938/169060605-346fa71d-0acf-4683-bfd8-e10cd2a9f700.png">

even though your code in repo suggests 9.0 is allowed: https://github.com/beyondcode/laravel-mailbox/blob/master/composer.jso

[2022-05-19 11:40] yehuda-hybiz commented on #105
@joelharkes Thanks!

[2022-05-24 09:42] gizburdt commented on #105
@mpociot Could you please tag a new version, so we can use it in composer? Thanks! :)

[2022-05-26 07:06] lazer-hybiz commented on #105
👀

[2022-06-17 11:24] jeverington commented on #105
+1

[2022-06-24 16:17] #98 closed

[2022-06-28 03:03] jyxjjj commented on #47
Same with [comment-586350369](https://github.com/beyondcode/laravel-mailbox/issues/47#issuecomment-586350369)

[2022-07-21 07:31] Tiththa opened #109 "302 redirection for inbound email handling for real emails using Mailgun"
I am using laravel-mailbox on laravel 8 with mailgun driver. I only need to simply forward the email message. The setup works fine and successfully forwards the email as expected when using `mailgun sample webhook` but not with realworld emails. When an email is sent from gmail or other medium to the mailgun domain configured, application redirects with a `302`
![image](https://user-images.githubu

[2022-07-22 09:12] clementmas commented on #105
I know this is open-source and I understand if there's a delay to support newer Laravel versions. A few weeks or months, ok. But Laravel 9 came out more than 6 months ago.

A lot of us are held back by this package. I think you should either archive it or maintain it.

[2022-08-11 13:44] joelharkes commented on #48
@pecuchet & @JapSeyz could you not access the the id's in the `created` eloquent event?

[2022-08-16 05:53] joelharkes commented on #109
@Tiththa can you share some code of your setup?

[2022-10-03 11:26] silsa-miguel opened #112 "Solve External report"
The solution to this problem was to change an IF and put one more condition, if it is the external report, it cannot be shown in red